.container__todo__app{
    display: flex;
    justify-content: space-around;

}
.menu--todo{
	width: 100vw;
	background-color: blue;
	margin-top: -28px;
	margin-left: -20px;
}
.menu--todo li{
	margin: 0;
	color: white;
	list-style: none;
}
.menu--todo li a{
	margin: 0;
	font-family: sans-serif;
	color: white;
	text-decoration: none;
	list-style: none;
}