<!--container app-->
<section class="container__todo__app">

    <!--add-->
    <div>
        <!-- title module add -->
        <h1 class="title">Add</h1>

        <form class="form">
            <input type="text"
                   class="form__input__title"
                   placeholder="Your list"
                   ng-model="dataList"
            >
            <br>
            <br>
            <button class="btn--yes min" ng-click="addList(dataList)">Add <i class="fas fa-plus"></i></button>
        </form>
    </div>


    <!--show-->
    <div>
        <!-- title module show -->
        <h1 class="title">
            <i class="fas fa-align-right"></i>
        </h1>

        <table class="table">
            <tr class="blurtime" ng-repeat="list in listItems track by $index">
                <td>{{ list | uppercase }}</td>
                <td><i class="fas fa-trash-alt" ng-click="deleteList(list)"></i></td>
            </tr>
        </table>

    </div>
</section>